@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-right: 160px;
    margin-left: 160px;
    font-family: 'Fira Sans', sans-serif;
}

/* navbar section style stared here */
.nav {
    margin-top: 31px;
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    font-size: 32px;
    font-weight: 800;
    color: #0E0E0E;
}

.nav .btn {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    border: 2px solid #006A50;
    border-radius: 10px;
    color: #006A50;
    font-weight: 800;
}

/* navar section style ended here */

/* heror section sytle started here */
.hero {
    padding: 117px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.heroContent h4 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.heroContent h1 {
    margin-top: 0;
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
}

.heroContent button {
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    outline: none;
    color: white;
    border: none;
}

/* hero section style ended here */

/* card section style started */
.cardTitle {
    margin-top: 120px;
    font-size: 48px;
    margin-bottom: 32px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card-box {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}

.card-box img {
    width: 62px;
    height: 62px;
    margin-bottom: 0;
}

.card-box h4 {
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.card-box p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* card seciton style ended here */

/* future card section style started here */
.baseText {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.futureCards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.futureCard {
    width: 410.67px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}
.futureCard2 {
    width: 410.67px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.futureCard3 {
    width: 410.67px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.futureCard h4 {
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.futureCard p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.futureCard button {
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    outline: none;
    color: white;
    border: none;
}
.futureCard2 button {
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    outline: none;
    color: white;
    border: none;
}
.futureCard3 button {
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    outline: none;
    color: white;
    border: none;
}

/* future card style ended here */